<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
I am a Ph.D. student in the  <a href="https://lunar.cs.brown.edu" target="_blank">LUNAR</a> (Language Understanding and Representation) lab at Brown University advised by <a href="https://cs.brown.edu/people/epavlick/" target="_blank">Ellie Pavlick</a>, researching natural language processing within the computer science department. I currently study codeswitching and endangered language usage in social media settings.

<p><iframe src="https://drive.google.com/file/d/1O6KB4xEXk6v0XAI6gHv2At4Omr2ukkGx/preview" width="100%" height="150%"  /></iframe></p>
</div>
